<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnglishApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnglishApp.Settings1>
            <setting name="AnimalsValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerbsValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PHVerbsValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LearnedWords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftWords" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ErrorWords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WasRemembered" serializeAs="String">
                <value>0</value>
            </setting>
        </EnglishApp.Settings1>
    </userSettings>
</configuration>